<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    
    <!-- 1번 테이블 -->
    <table border="1">
        <tr>
            <th colspan="5"><b>보석 컬렉션</b></th>
        </tr>
        <tr>
            <th rowspan ="5"><b>제품리스트</b></th>
            <th>코드</th>
            <th>분류</th>
            <th>가격</th>
            <th>구매가능 개수</th>
        </tr>
        <tr>
            <td>01-468</td>
            <td>에메랄드</td>
            <td>200,000원</td>
            <td>1068</td>
        </tr>
          <tr>
            <td>01-469</td>
            <td>루비</td>
            <td>150,000원</td>
            <td>1700</td>
        </tr>
          <tr>
            <td>01-470</td>
            <td>사파이어</td>
            <td>950,000원</td>
            <td>2500</td>
        </tr>
          <tr>
            <td>01-471</td>
            <td>다이아몬드</td>
            <td>120,000원</td>
            <td>3200</td>
        </tr>
        <tr>
            <td>★ 특가 ★</td>
            <td colspan="4">푸드렛 타이트 (문의전화주세요)</td>
        </tr>
    </table>
    
    
    <br><hr><br>
    
    <!-- 2번 테이블 -->
    <table border="1">
        <tr>
            <th colspan="5">이력서</th>
        </tr>
        <tr>
            <td rowspan="4" width="100px"><pre>     사진</pre></td>
            <td>이름</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>주소</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td width="100px"></td>
            <td>이메일</td>
            <td width="100px"></td>
        </tr>
    </table>
    
    <br>
    
    <table border="1">
        <tr>
            <td></td>
            <td width="100px">기간</td>
            <td>출신학교명</td>
            <td width="50px">전공</td>
            <td>졸업여부</td>
            <td>학점</td>
        </tr>
        <tr>
            <td rowspan="2" height="50px">학력사항</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
        
    <br>
    
    <table border="1">
        <tr>
            <td></td>
            <td width="100px">기간</td>
            <td width="120px">시행처</td>
            <td width="120px">취득일</td>
        </tr>
        <tr>
            <td rowspan="2" height="50px">자격증</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
    
    <br><hr><br>
    
    <!-- 3번 테이블 -->
    <table border="1">
        <tr>
            <td colspan="2" rowspan="2" width="140px" height="160px">사진</td>
            <td width = "80px">이름</td>
            <td width="200px"></td>
        </tr>
        <tr>
            <td width = "80px">연락처</td>
            <td></td>
        </tr>
        <tr>
            <td width="70px" height="50px">주소</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td height="90px">자기소개</td>
            <td colspan="3"></td>
        </tr>
    </table>
    
    
    
    
    

</body>
</html>