<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <table border="1">
        <caption><b>테이블 이름</b></caption>
        <tr>
            <th>컬럼1</th>
            <th>컬럼2</th>
            <th>컬럼3</th>
        </tr>
        <tr>
            <td width="100px" height = "100px">1행1열</td>
            <td width="100px">1행2열</td>
            <td width="100px">1행3열</td>
        </tr>
        <tr>
            <td height="50px">2행1열</td>
            <td>2행2열</td>
            <td>2행3열</td>
        </tr>
    </table>
    
    <hr>
    
    <table border="1">
        <caption><b>웹 브라우저 종류</b></caption>
        <tr>
            <th>브라우저명</th>
            <th>제조사</th>
            <th>홈페이지</th>
        </tr>
            <tr>
            <td>익스플로러</td>
            <td>MS</td>
            <td>https://www.microsoft.com</td>
        </tr>
        <tr>
            <td>크롬</td>
            <td>google</td>
            <td>https://www.google.com</td>
        </tr>
        <tr>
            <td>사파리</td>
            <td>애플</td>
            <td>https://www.apple.com</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>
    </table>
    
    <hr>
    
    <table border="1">
        <tr>
            <th>Month</th>
            <th>Saving</th>
            <th>Saving for holiday</th>
        </tr>
        <tr>
            <td>January</td>
            <td>$100</td>
            <td rowspan="2">$50</td>
        </tr>
        <tr>
            <td>Februry</td>
            <td>$80</td>
        </tr>
    </table>
    
    <hr>
    
    <table border="1">
        <tr>
            <th>Month</th>
            <th>Saving</th>
        </tr>
        <tr>
            <td>January</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>Februry</td>
            <td>$80</td>
        </tr>
        <tr>
            <td colspan="2">Sum:180$</td>
        </tr>
    </table>
    
    <hr>
    
    <table border="1">
        <tr>
            <td colspan="2" rowspan="2">합쳐진 셀</td>
            <td>추가열</td>
        </tr>
        <tr>
            <td>추가열</td>
        </tr>
        <tr>
            <td>추가열</td>
            <td>추가열</td>
            <td>추가열</td>
        </tr>
    </table>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

</body>
</html>