<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <style>
        #p3{
            color:blue;
        }
        .p{
            color:green;
        }
        p{
            color:red;
        }
       
    </style>
    <p id="p1">전체 스타일 태그</p>
    <p class="p" id="p2">클래스 스타일 p</p>
    <p class="p" id="p3">아이디 스타일 p</p>
    <p class="p" id="p4" style="color: aqua">인라인 스타일 p</p>
    
    
    
    
    
    
    
    
    
    
</body>
</html>