<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h2>div와 span 태그</h2>
    <h3>0div는 블록 영역 span은 인라인 영역</h3>
    <div>첫번째 영역</div>
    <div>두번째 영역</div>
    <span>세번째 영역</span>
    <span>네번째 영역</span>
    <hr>
    <h3>html4의 웹구조(div와 span태그를 이용하여 영역을 구분</h3>
    <div id="header">
        <center><h1>kh 정보 교육원</h1></center>
    </div>
    <hr>
    <div id="menu">
        <span>html</span>
        <span>css</span>
        <span>javascipt</span>
        <span>jQuery</span>
    </div>
    <hr>
    <div id="content">
        <p>html 쉬운척 하더니 어려움</p>
        <p>광고 영역</p>
    </div>
    <hr>
    <div id ="footer">
        <span>회사 소개</span>
        <span>인재 채용</span>
        <span>제휴</span>
        <span>이용 약관</span>
        <span>개인정보처리방침</span>
    </div>







</body>
</html>