<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>HTML5 시멘틱 구조</h1>
    <header>
        <center><h1>KH 정보교육원</h1></center>
        <hr>
        <nav>
            <span>html</span>
            <span>css</span>
            <span>javascript</span>
            <span>jQuery</span>
        </nav>
    </header>
    <hr>
    <section>
        <article>
            <p>HTML 쉬운척하더니 어려움</p>
        </article>
        <aside>
            <p>광고 영역</p>
        </aside>
    </section>
    <hr>
    <footer>
        <span>회사소개</span>
        <span>인재채용</span>
        <span>제휴</span>
        <span>이용약관</span>
        <span>개인정보처리방</span>
    </footer>
</body>
</html>