<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>Day33 HTML</h1>
    <h3><a href="tabletag.html">테이블 구조</a></h3>
    <h3><a href="divspanTest.html">HTML4</a></h3>
    <h3><a href="html5Test.html">HTML5</a></h3>
    <h3><a href="multimediaTag.html">멀티미디어 태그</a></h3>
    <h3><a href="mp3Test.html">mp3 태그</a></h3>
    <h3><a href="videoTagTest.html">비디오 태그</a></h3>
    <h3><a href="hyperlinktagTest.html">하이퍼링크 태그</a></h3>
    <h3><a href="index.html">인덱스 태그</a></h3>
</body>
</html>