<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>

    <table border="1">
        <caption>네이버화면</caption>
        <thead>
            <tr>
                <th height="100px"><a href="https://www.naver.com/" target="_blank"><img src="img/likeNaver/naver_logo.jpg" width="200"></a></th>
                <th colspan="5">
                    <form action="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&" method="get" target="_blank">
                        <input type="text" name="query">
                        <button type="submit">검색</button>
                    </form>
                </th>
            </tr>
        </thead>
        <tr>
            <td>메일</td>
            <td>카페</td>
            <td>블로그</td>
            <td>지식In</td>
            <td>쇼핑</td>

            <td rowspan="2" width="180px" height="80px">
                <center>

                    <form action="/action_html" method="post">
                        <table border="1">
                            <tr>
                                <td width="10px">
                                    <input type="text">
                                </td>
                                <td rowspan="2" width="20px">
                                    <form action="https://nid.naver.com/nidlogin.login?mode=form&url=https%3A%2F%2Fwww.naver.com" method="get">
                                        <button type="submit">로그인</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                        </table>
                    </form>
                    <a href="https://nid.naver.com/user2/V2Join.nhn?m=agree&lang=ko_KR&cpno=" target="_blank">회원가입</a>
                    <a href="https://nid.naver.com/user2/help/idInquiry.nhn?menu=idinquiry" target="_blank">ID</a> /
                    <a href="https://nid.naver.com/user2/help/pwInquiry.nhn?menu=pwinquiry" target="_blank">PW 찾기</a>
                </center>
            </td>

        </tr>
        <tr>
            <td rowspan="2" colspan="5" width="400px" height="400px">
                <table border="1" align="center">
                    <tr>
                        <td height="75px"><img src="img/likeNaver/news%2001.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2002.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2003.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2004.jpg"></td>
                    </tr>
                    <tr>
                        <td height="75px"><img src="img/likeNaver/news%2005.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2006.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2007.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2008.jpg"></td>
                    </tr>
                    <tr>
                        <td height="75px"><img src="img/likeNaver/news%2009.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2010.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2011.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2012.jpg"></td>
                    </tr>
                    <tr>
                        <td height="75px"><img src="img/likeNaver/news%2013.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2014.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2015.jpg"></td>
                        <td height="75px"><img src="img/likeNaver/news%2016.jpg"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><img src="img/likeNaver/tropicana.gif" width="300px" height="200px"></td>
        </tr>
    </table>

</body>

</html>
