<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <!--
    <h1> img 태그 </h1>
    <img src="img/monsterball.png" alt="몬스터볼" width="300px" height="290px">
    <br>
    <img src="img/superball.jpg" alt="몬스터볼" width="300px" height="300px">
    -->
    
    <h1><center>이미지맵 태그</center></h1>
    <img src="img/dog.jpg" usemap="#test">
    <map name="test">
        <area shape="circle" coords="261,99,80" href="img/head.jpg" target="_self">
        <area shape="circle" coords="363,249,57" href="img/disk.jpg" target="_self">
        <area shape="circle" coords="532,330,73" href="img/leg.jpg" target="_self">
    </map>
    
    <marquee direction="right" scrollamount="50">_@@_/''</marquee>
    
</body>
</html>