<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <style>
        table {
            text-align: center;
        }

        thead {
            background: lightgreen;
        }

        tbody {
            background: lightblue;
        }

        tfoot {
            background: lightgreen;
        }
    </style>

    <table border="10">
        <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>이름1</td>
                <td>20</td>
                <td>서울</td>
            </tr>
            <tr>
                <td>이름2</td>
                <td>20</td>
                <td>서울</td>
            </tr>
            <tr>
                <td>이름3</td>
                <td>20</td>
                <td>서울</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">총 인원</td>
                <td>3명</td>
            </tr>
        </tfoot>
    </table>

    <br>
    <hr><br>


    <table border="1">
        <caption>네이버화면</caption>
        <thead>
            <tr>
                <th height="100px">네이버로고</th>
                <th colspan="5">검색창</th>
            </tr>
        </thead>
        <tr>
            <td>메일</td>
            <td>카페</td>
            <td>블로그</td>
            <td>지식In</td>
            <td>쇼핑</td>
            <td rowspan="2" width="180px" height="80px">로그인</td>
        </tr>
        <tr>
            <td rowspan="2" colspan="5" width="400px" height="300px">
                <table border="1" align="center">
                    <tr>
                        <td height="75px">MBN</td>
                        <td height="75px">NewDelity</td>
                        <td height="75px">중앙일보</td>
                        <td height="75px">연합뉴스</td>
                    </tr>
                    <tr>
                        <td height="75px">파이낸셜</td>
                        <td height="75px">SBS</td>
                        <td height="75px">매일경제</td>
                        <td height="75px">동아일보</td>
                    </tr>
                    <tr>
                        <td height="75px">KBS</td>
                        <td height="75px">전자신문</td>
                        <td height="75px">시사IN</td>
                        <td height="75px">노컷뉴스</td>
                    </tr>
                    <tr>
                        <td height="75px">프레시안</td>
                        <td height="75px">OSEN</td>
                        <td height="75px">이투데이</td>
                        <td height="75px">뉴스타파</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="220px">광고</td>
        </tr>
    </table>










</body></html>
